
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__castom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #212121;
  border-radius: 2px;
  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.checkbox__input:checked + .checkbox__castom {
  background-color: #2196f3;
}

.checkbox__icon {
  padding: 0px;
  margin: 0px;
  fill: #FFFFFF;
}

.checkbox__agrement {
  font-size: 14px;
  margin-left: 9px;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: #2196f3;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.form__block {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: var(---basic-cubic-bezier);
}

.form__btn:hover,
.form__btn:focus {
  cursor: pointer;
}